<div class="container">
<form class="form" (submit)="loginUser()">
    <fieldset>
      <legend>LogIn</legend>
        <div class="form-group">
            <label for="exampleInputPassword1">Username</label>
            <input type="text" class="form-control" id="userename" placeholder="Email" name="username" [(ngModel)]="username">
          </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="userpassword" placeholder="Password" name="password" [(ngModel)]="password">
          </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>